body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .container {
    width: 60%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  #foto {
    width: 50%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #555;
    margin-bottom: 10px;
  }
  
  #btnVoltar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #btnVoltar:hover {
    background-color: #555;
  }
  